body {
    background-color: lightcyan;
}

#program-input {
    display: flex;
    flex-direction: row;
}

#program-input > div {
    margin-left: 10px;
    margin-right: 10px;
}

#input-buttons {
    display: inline-flex;
    flex-direction: column;

    margin-left: 10px;
}

#input-buttons > button {
    width: 75px;
    aspect-ratio: 10/8;

    background-color: #94f2ff;

    border-color: #61a3bf;
    border-style: solid;
    border-radius: 6%;
    border-width: medium;
}

#esolang-editor {
    background-color: whitesmoke;
}

#trace-output {
    background-color: aqua;
}